// UTILS
@import './utils/variables';
@import './utils/visually-hidden';
@import './utils/animation';

// BASE
@import './base/common';
@import './base/container';
@import './base/section';

// COMPONENTS
@import './components/modal-btn';
@import './components/logo';
@import './components/title';
@import './components/section-title';
@import './components/socials';
@import './components/mobile-menu';
@import './components/modal-close-btn';

@import './components/backdrop';
@import './components/modal-window';
@import './components/modal-form';

//LAYOUT
@import './layout/header';
@import './layout/hero';
@import './layout/features';
@import './layout/what-we-do';
@import './layout/team';
@import './layout/regular-customers';
@import './layout/footer';
@import './layout/portfolio';
