.features__item {
  width: 100%;
}

.features__block {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 120px;
  margin-bottom: 30px;

  background-color: var(--secondary-background);
  border-radius: 4px;
}

.features__title {
  margin-bottom: 10px;
  text-transform: uppercase;
}

.features__desc {
  line-height: (24px / 14px);
  // 171%
}

@media screen and (min-width: 768px) {
  .features__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }

  .features__item {
    margin-top: 30px;
    margin-left: 30px;
    flex-basis: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .features__list {
    margin-top: unset;
    margin-left: unset;
    // align-items: center;
  }

  .features__item {
    margin-top: unset;
    margin-left: unset;
    flex-basis: calc((100% - 90px) / 4);
  }

  .features__item:not(:last-child) {
    margin-right: 30px;
  }
}
