.footer {
  padding: 60px 0;
  background-color: var(--footer-background);
  text-align: center;
}

.footer-container {
  display: flex;
  flex-direction: column;
}

/* ============ address block =========== */
.address-block {
  margin-bottom: 60px;
}

.address {
  font-style: normal;
  margin-top: 20px;
}

.footer .logo {
  font-size: 24px;
  line-height: (28px / 24px);
  // 117%
  margin-bottom: 20px;
}

.contact-list-item:not(:last-child) {
  margin-bottom: 8px;
}

.contact-list-link {
  line-height: (24px / 14px);
  // 171%
  color: var(--text-secondary-color);

  transition: color var(--trans-duration) var(--timing-function);
}

.footer-mail,
.footer-tel {
  color: var(--address-secondary-color);
}

.contact-list-link:hover,
.contact-list-link:focus {
  color: var(--brand-color);
}

/* == social block == */
.footer-socials-block {
  margin-bottom: 60px;
}

.socials-title {
  margin-bottom: 20px;
  color: var(--text-secondary-color);
}

/* ============= email block =========== */
.footer-input-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.footer-contact-input {
  width: 100%;
  // must be 450px
  height: 50px;

  color: var(--text-secondary-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;

  margin-bottom: 20px;
  padding: 15px 16px;
}

.footer-contact-input:focus {
  border-color: var(--brand-color);
  outline: none;
}

.footer-contact-input::placeholder {
  font-size: 16px;
  line-height: (20px / 16px);
  letter-spacing: 0.03em;
  //125%
  color: var(--address-secondary-color);
}

.footer-form-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 10px 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: (30px / 16px);
  // 187%
  letter-spacing: 0.06em;

  color: var(--text-secondary-color);
  background-color: var(--brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;

  transition: background-color var(--trans-duration) var(--timing-function);
}

.footer-form-btn:hover,
.footer-form-btn:focus {
  background-color: var(--mdl-btn-hover-bckgrnd);
}

.btn-text-wrapper {
  min-width: 110px;
}

.footer-form-icon {
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .footer-container {
    flex-direction: unset;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }

  .email-form {
    width: 450px;
    // sets width instead of footer-contact-input, with wrap for button
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    text-align: unset;
  }

  .footer-container {
    display: flex;
    flex-wrap: unset;
    justify-content: space-between;
  }

  .address-block {
    margin-bottom: unset;
  }

  .footer-socials-block {
    margin-bottom: unset;
  }

  .email-form {
    width: unset;
  }

  .footer-contact-input {
    // width: 100%;
    width: 358px;
    margin-bottom: unset;
    margin-right: 12px;
  }
}

// ===========================================================
// .footer {
//   padding: 60px 0;
//   background-color: var(--footer-background);
// }

// .footer-container {
//   display: flex;
//   align-items: baseline;
// }

// /* == address block == */
// .address-block {
//   display: flex;
//   flex-direction: column;
//   margin-right: 70px;
//   min-width: 230px;
// }

// .address {
//   font-style: normal;
// }

// .footer .logo {
//   margin-bottom: 20px;
// }

// .contact-list {
//   display: flex;
//   align-items: start;
//   flex-direction: column;
// }

// .contact-list-item:not(:last-child) {
//   margin-bottom: 8px;
// }

// .contact-list-link {
//   line-height: 1.71;
//   color: var(--text-secondary-color);

//   transition: color var(--trans-duration) var(--timing-function);
// }

// .footer-mail,
// .footer-tel {
//   color: var(--address-secondary-color);
// }

// .contact-list-link:hover,
// .contact-list-link:focus {
//   color: var(--brand-color);
// }

// /* == social block == */
// .footer-socials-block {
//   margin-right: 94px;
// }

// .socials-title {
//   margin-bottom: 20px;
//   color: var(--text-secondary-color);
// }

// .socialss {
//   display: flex;
//   align-items: center;
// }

// .socials-item:not(:last-child) {
//   margin-right: 10px;
// }

// .socials-link {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   width: 44px;
//   height: 44px;
//   border-radius: 50%;
//   color: var(--text-secondary-color);
//   background-color: var(--icon-footer-bg);

//   transition: background-color var(--trans-duration) var(--timing-function);
// }

// .socials__icon {
//   fill: currentColor;
// }

// .socials-link:hover,
// .socials-link:focus {
//   background-color: var(--brand-color);
//   animation: heartBeat-test 1000ms var(--timing-function) 0ms;
// }

// /* == email block == */
// .footer-input-wrapper {
//   display: flex;
// }

// .footer-contact-input {
//   width: 358px;
//   height: 50px;

//   color: var(--text-secondary-color);
//   border: 1px solid rgba(255, 255, 255, 0.3);
//   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
//   border-radius: 4px;
//   background-color: transparent;

//   margin-right: 12px;
//   padding: 15px 16px;
// }

// .footer-contact-input:focus {
//   border-color: var(--brand-color);
//   outline: none;
// }

// .footer-contact-input::placeholder {
//   font-size: 16px;
//   line-height: 1.25;
//   letter-spacing: 0.03em;
//   color: var(--address-secondary-color);
// }

// .footer-form-btn {
//   display: flex;
//   justify-content: center;
//   align-items: center;

//   padding: 10px 28px;
//   font-weight: 700;
//   font-size: 16px;
//   line-height: 1.87;
//   letter-spacing: 0.06em;

//   color: var(--text-secondary-color);
//   background-color: var(--brand-color);
//   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
//   border-radius: 4px;
//   border: none;
//   cursor: pointer;

//   transition: background-color var(--trans-duration) var(--timing-function);
// }

// .footer-form-btn:hover,
// .footer-form-btn:focus {
//   background-color: var(--mdl-btn-hover-bckgrnd);
// }

// .footer-form-icon {
//   margin-left: 10px;
// }
