.logo {
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--brand-color);

  animation-delay: 300ms;
}

.logo__logo-header {
  color: var(--logo-secondary-color);
}

.logo__logo-footer {
  color: var(--text-secondary-color);
}
