.section-title {
  margin-bottom: 30px;

  font-size: 28px;
  line-height: (33px / 28px);
  // 118%
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .section-title {
    margin-bottom: 50px;

    font-size: 36px;
    line-height: (42px / 36px);
    // 117%
  }
}
