.container {
  padding: 0 15px;
  // outline: 1px solid red;
}

// 480px+
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

// 768px+
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

// 1200px+
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
