@keyframes heartBeat-test {
  0% {
    transform: scale(1);
  }

  35% {
    transform: scale(1.15);
  }

  70% {
    transform: scale(1);
  }
}

@keyframes headShake-test {
  0% {
    transform: translateX(0);
  }

  23.5% {
    transform: translateX(-3px) rotateY(-5deg);
  }

  47% {
    transform: translateX(3px) rotateY(5deg);
  }

  70% {
    transform: translateX(0);
  }
}
